proposals/proposal-13112-rng/org.oasis-open.dita.relaxng/doctypes/technicalContent/rng/xmlDomainMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
  xmlns="http://relaxng.org/ns/structure/1.0">
<moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
   <moduleTitle>DITA XML Construct Domain</moduleTitle>
   <headerComment><![CDATA[
============================================================= 
                    HEADER                                     
 ============================================================= 
  MODULE:    DITA XML Construct Domain                             
  VERSION:   1.3                                                
  DATE:      October 2012                                       
                                                               
 ============================================================= 

 =============================================================      
 ]]></headerComment>
   <moduleMetadata>
     <moduleType>elementdomain</moduleType>
     <moduleShortName>xml-d</moduleShortName>
     <modulePublicIds>
       <dtdMod>-//OASIS//ELEMENTS DITA XML Construct Domain//EN</dtdMod>
       <dtdEnt>-//OASIS//ENTITIES DITA XML Construct Domain//EN</dtdEnt>
       <xsdMod>urn:oasis:names:tc:dita:xsd:xmlDomain.xsd</xsdMod>
       <rncMod>urn:oasis:names:tc:dita:rnc:xmlDomain.rnc</rncMod>
       <rngMod>urn:oasis:names:tc:dita:rng:xmlDomain.rng</rngMod>
     </modulePublicIds>
   </moduleMetadata>
 </moduleDesc>  
  
  <define name="domains-att-contribution" combine="choice">
    <value>(topic xml-d)</value>
  </define>

  <define name="xml-d-keyword">
    <choice>
      <ref name="numcharref.element"/>
      <ref name="parameterentity.element"/>
      <ref name="rngpattern.element"/>
      <ref name="textentity.element"/>
      <ref name="xmlatt.element"/>
      <ref name="xmlelement.element"/>
      <ref name="xmlnsname.element"/>
      <ref name="xsdattgroup.element"/>
      <ref name="xsdcomplextype.element"/>
      <ref name="xsdgroup.element"/>
      <ref name="xsdsimpletype.element"/>
    </choice>
  </define>

  <define name="keyword" combine="choice">
    <ref name="xml-d-keyword"/>
  </define>


  <define name="numcharref.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="numcharref.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="numcharref.element">
    <element name="numcharref" ditaarch:longName="Numeric character reference">
      <ref name="numcharref.attlist"/>
      <ref name="numcharref.content"/>
    </element>
  </define>
  <define name="numcharref.attlist" combine="interleave">
    <ref name="numcharref.attributes"/>
  </define>

  <define name="parameterentity.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="parameterentity.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="parameterentity.element">
    <element name="parameterentity" ditaarch:longName="Parameter entity reference">
      <a:documentation>The parameterentity (&lt;parameterentity&gt;) element is used to identify
mentions of XML DTD parameter entities.
        Category: Mention elements</a:documentation>
      <ref name="parameterentity.attlist"/>
      <ref name="parameterentity.content"/>
    </element>
  </define>
  <define name="parameterentity.attlist" combine="interleave">
    <ref name="parameterentity.attributes"/>
  </define>

  <define name="rngpattern.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="rngpattern.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="rngpattern.element">
    <element name="rngpattern" ditaarch:longName="Relax NG named pattern">
      <a:documentation>The rngpattern (&lt;rngpattern&gt;) element is used to 
identify mentions of named patterns.
        Category: Mention elements</a:documentation>
      <ref name="rngpattern.attlist"/>
      <ref name="rngpattern.content"/>
    </element>
  </define>
  <define name="rngpattern.attlist" combine="interleave">
    <ref name="rngpattern.attributes"/>
  </define>

  <define name="textentity.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="textentity.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="textentity.element">
    <element name="textentity" ditaarch:longName="">
      <a:documentation>The textentity (&lt;textentity&gt;) element is used to identify
mentions of XML text entities.
        Category: Mention elements</a:documentation>
      <ref name="textentity.attlist"/>
      <ref name="textentity.content"/>
    </element>
  </define>
  <define name="textentity.attlist" combine="interleave">
    <ref name="textentity.attributes"/>
  </define>

  <define name="xmlatt.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xmlatt.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xmlatt.element">
    <element name="xmlatt" ditaarch:longName="XML attribute">
      <a:documentation>The xmlatt (&lt;xmlatt&gt;) element is used to identify
mentions of XML attributes.
        Category: Mention elements</a:documentation>
      <ref name="xmlatt.attlist"/>
      <ref name="xmlatt.content"/>
    </element>
  </define>
  <define name="xmlatt.attlist" combine="interleave">
    <ref name="xmlatt.attributes"/>
  </define>

  <define name="xmlelement.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xmlelement.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xmlelement.element">
    <element name="xmlelement" ditaarch:longName="">
      <a:documentation>The xmlelement (&lt;xmlelement&gt;) element is used to identity mentions
of XML element types.
        Category: Mention elements</a:documentation>
      <ref name="xmlelement.attlist"/>
      <ref name="xmlelement.content"/>
    </element>
  </define>
  <define name="xmlelement.attlist" combine="interleave">
    <ref name="xmlelement.attributes"/>
  </define>

  <define name="xmlnsname.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xmlnsname.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xmlnsname.element">
    <element name="xmlnsname" ditaarch:longName="XML namespace name">
      <a:documentation>The xmlnsname (&lt;xmlnsname&gt;) element is used to identify
mentions of XML namespace names, e.g. the value used
in @xmlns attributes.
        Category: Mention elements</a:documentation>
      <ref name="xmlnsname.attlist"/>
      <ref name="xmlnsname.content"/>
    </element>
  </define>
  <define name="xmlnsname.attlist" combine="interleave">
    <ref name="xmlnsname.attributes"/>
  </define>

  <define name="xsdattgroup.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xsdattgroup.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xsdattgroup.element">
    <element name="xsdattgroup" ditaarch:longName="XSD attribute group">
      <a:documentation>The xsdattgroup (&lt;xsdattgroup&gt;) element is used to identify
mentions of XSD attribute groups.
        Category: Mention elements</a:documentation>
      <ref name="xsdattgroup.attlist"/>
      <ref name="xsdattgroup.content"/>
    </element>
  </define>
  <define name="xsdattgroup.attlist" combine="interleave">
    <ref name="xsdattgroup.attributes"/>
  </define>

  <define name="xsdcomplextype.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xsdcomplextype.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xsdcomplextype.element">
    <element name="xsdcomplextype" ditaarch:longName="">
      <a:documentation>The xsdcomplextype (&lt;xsdcomplextype&gt;) element is used to identify
mentions  of XSD complex types.
        Category: Mention elements</a:documentation>
      <ref name="xsdcomplextype.attlist"/>
      <ref name="xsdcomplextype.content"/>
    </element>
  </define>
  <define name="xsdcomplextype.attlist" combine="interleave">
    <ref name="xsdcomplextype.attributes"/>
  </define>

  <define name="xsdgroup.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xsdgroup.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xsdgroup.element">
    <element name="xsdgroup" ditaarch:longName="XSD group">
      <a:documentation>The xsdgroup (&lt;xsdgroup&gt;) element is used to identify
mentions of XSD groups (element groups, as opposed to 
attribute groups).
        Category: Mention elements</a:documentation>
      <ref name="xsdgroup.attlist"/>
      <ref name="xsdgroup.content"/>
    </element>
  </define>
  <define name="xsdgroup.attlist" combine="interleave">
    <ref name="xsdgroup.attributes"/>
  </define>

  <define name="xsdsimpletype.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="text"/>
        <ref name="tm"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="xsdsimpletype.attributes">
    <ref name="univ-atts"/>
    <optional>
      <attribute name="outputclass"/>
    </optional>
  </define>
  <define name="xsdsimpletype.element">
    <element name="xsdsimpletype" ditaarch:longName="XSD simpletype">
      <a:documentation>The xsdsimpletype (&lt;xsdsimpletype&gt;) element is used to identify
mentions of XSD simple types ("data types").
        Category: Mention elements</a:documentation>
      <ref name="xsdsimpletype.attlist"/>
      <ref name="xsdsimpletype.content"/>
    </element>
  </define>
  <define name="xsdsimpletype.attlist" combine="interleave">
    <ref name="xsdsimpletype.attributes"/>
  </define>
  
  <!-- Specialization attributes. Global attributes and class defaults -->
  <define name="numcharref.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/numcharref "/>
    </optional>
  </define>
  <define name="parameterentity.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/parameterentity "/>
    </optional>
  </define>
  <define name="rngpattern.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/rngpattern "/>
    </optional>
  </define>
  <define name="textentity.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/textentity "/>
    </optional>
  </define>
  <define name="xmlatt.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xmlatt "/>
    </optional>
  </define>
  <define name="xmlelement.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xmlelement "/>
    </optional>
  </define>
  <define name="xmlnsname.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xmlnsname "/>
    </optional>
  </define>
  <define name="xsdattgroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xsdattgroup "/>
    </optional>
  </define>
  <define name="xsdcomplextype.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xsdcomplextype "/>
    </optional>
  </define>
  <define name="xsdgroup.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xsdgroup "/>
    </optional>
  </define>
  <define name="xsdsimpletype.attlist" combine="interleave">
    <ref name="global-atts"/>
    <optional>
      <attribute name="class" a:defaultValue="+ topic/ph xml-d/xsdsimpletype "/>
    </optional>
  </define>
</grammar>
