proposals/proposal-13112-rng/test/modules/base/dtd/tblDecl.ent

<?xml version="1.0" encoding="UTF-8"?>

<!-- ============================================================= -->
<!--                    ELEMENT EXTENSION ENTITY DECLARATIONS      -->
<!-- ============================================================= -->

<!ENTITY % yesorno
  "NMTOKEN" 
>
<!ENTITY % paracon
  "%tblcell.cnt;" 
>
<!ENTITY % tbl.table-titles.mdl
  "(%title;
%desc;
)" 
>
<!ENTITY % tbl.table-main.mdl
  "(%tgroup;)+" 
>
<!ENTITY % tbl.table.mdl
  "(%tbl.table-titles.mdl;
    %tbl.table-main.mdl;)" 
>
<!ENTITY % tbl.table.att
  "pgwide
                          %yesorno;
                                    #IMPLIED
" 
>
<!ENTITY % bodyatt
  "" 
>
<!ENTITY % tbl.tgroup.mdl
  "((%colspec;)*,
%thead;
    %tbody;)" 
>
<!ENTITY % tbl.tgroup.att
  "" 
>
<!ENTITY % tbl.thead.att
  "" 
>
<!ENTITY % tbl.tbody.att
  "" 
>
<!ENTITY % tbl.colspec.att
  "base
                          CDATA
                                    #IMPLIED
   %base-attribute-extensions;" 
>
<!ENTITY % tbl.row.mdl
  "(%entry;)+" 
>
<!ENTITY % tbl.row.att
  "" 
>
<!ENTITY % tbl.entry.mdl
  "(%paracon;)*" 
>
<!ENTITY % tbl.entry.att
  "base
                          CDATA
                                    #IMPLIED
   %base-attribute-extensions;" 
>
<!ENTITY % dita.table.attributes
  "rowheader
                          (firstcol |
                           norowheader |
                           -dita-use-conref-target)
                                    #IMPLIED
               scale
                          (50 |
                           60 |
                           70 |
                           80 |
                           90 |
                           100 |
                           110 |
                           120 |
                           140 |
                           160 |
                           180 |
                           200 |
                           -dita-use-conref-target)
                                    #IMPLIED
   %univ-atts;
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.tgroup.attributes
  "%univ-atts;
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.thead.attributes
  "%univ-atts;
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.tbody.attributes
  "%univ-atts;
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.row.attributes
  "%univ-atts;
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.entry.attributes
  "%id-atts;
   %localization-atts;
               rev
                          CDATA
                                    #IMPLIED
               outputclass
                          CDATA
                                    #IMPLIED
" 
>
<!ENTITY % dita.colspec.attributes
  "%id-atts;
   %localization-atts;" 
>
<!ENTITY % table.content
  "%tbl.table.mdl;" 
>
<!ENTITY % table.attributes
  "frame
                          (top |
                           bottom |
                           topbot |
                           all |
                           sides |
                           none |
                           -dita-use-conref-target)
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
   %tbl.table.att;
   %bodyatt;
   %dita.table.attributes;" 
>
<!ENTITY % table.element
  "<!--                    LONG NAME: Table                           -->
<!ENTITY % table.content
              "%tbl.table.mdl;" 
>
<!ENTITY % table.attributes
              "frame
                          (top |
                           bottom |
                           topbot |
                           all |
                           sides |
                           none |
                           -dita-use-conref-target)
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               %tbl.table.att;
               %bodyatt;
               %dita.table.attributes;" 
>
<!ELEMENT  table %table.content;>
<!ATTLIST  table %table.attributes;>


" 
>
<!ENTITY % table.attlist
  "%table.attributes;" 
>
<!ENTITY % tgroup.content
  "%tbl.tgroup.mdl;" 
>
<!ENTITY % tgroup.attributes
  "cols
                          NMTOKEN
                                    #REQUIRED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
   %tbl.tgroup.att;
   %dita.tgroup.attributes;" 
>
<!ENTITY % tgroup.element
  "<!--                    LONG NAME: Tgroup                          -->
<!ENTITY % tgroup.content
              "%tbl.tgroup.mdl;" 
>
<!ENTITY % tgroup.attributes
              "cols
                          NMTOKEN
                                    #REQUIRED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
               %tbl.tgroup.att;
               %dita.tgroup.attributes;" 
>
<!ELEMENT  tgroup %tgroup.content;>
<!ATTLIST  tgroup %tgroup.attributes;>


" 
>
<!ENTITY % tgroup.attlist
  "%tgroup.attributes;" 
>
<!ENTITY % colspec.content
  "EMPTY" 
>
<!ENTITY % colspec.attributes
  "colnum
                          NMTOKEN
                                    #IMPLIED
               colname
                          NMTOKEN
                                    #IMPLIED
               colwidth
                          CDATA
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
               char
                          CDATA
                                    #IMPLIED
               charoff
                          NMTOKEN
                                    #IMPLIED
   %tbl.colspec.att;
   %dita.colspec.attributes;" 
>
<!ENTITY % colspec.element
  "<!--                    LONG NAME: Colspec                         -->
<!ENTITY % colspec.content
              "EMPTY" 
>
<!ENTITY % colspec.attributes
              "colnum
                          NMTOKEN
                                    #IMPLIED
               colname
                          NMTOKEN
                                    #IMPLIED
               colwidth
                          CDATA
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
               char
                          CDATA
                                    #IMPLIED
               charoff
                          NMTOKEN
                                    #IMPLIED
               %tbl.colspec.att;
               %dita.colspec.attributes;" 
>
<!ELEMENT  colspec %colspec.content;>
<!ATTLIST  colspec %colspec.attributes;>


" 
>
<!ENTITY % colspec.attlist
  "%colspec.attributes;" 
>
<!ENTITY % thead.content
  "(%row;)+" 
>
<!ENTITY % thead.attributes
  "valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
   %tbl.thead.att;
   %dita.thead.attributes;" 
>
<!ENTITY % thead.element
  "<!--                    LONG NAME: Thead                           -->
<!ENTITY % thead.content
              "(%row;)+" 
>
<!ENTITY % thead.attributes
              "valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
               %tbl.thead.att;
               %dita.thead.attributes;" 
>
<!ELEMENT  thead %thead.content;>
<!ATTLIST  thead %thead.attributes;>


" 
>
<!ENTITY % thead.attlist
  "%thead.attributes;" 
>
<!ENTITY % tbody.content
  "(%row;)+" 
>
<!ENTITY % tbody.attributes
  "valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
   %tbl.tbody.att;
   %dita.tbody.attributes;" 
>
<!ENTITY % tbody.element
  "<!--                    LONG NAME: Tbody                           -->
<!ENTITY % tbody.content
              "(%row;)+" 
>
<!ENTITY % tbody.attributes
              "valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
               %tbl.tbody.att;
               %dita.tbody.attributes;" 
>
<!ELEMENT  tbody %tbody.content;>
<!ATTLIST  tbody %tbody.attributes;>


" 
>
<!ENTITY % tbody.attlist
  "%tbody.attributes;" 
>
<!ENTITY % row.content
  "%tbl.row.mdl;" 
>
<!ENTITY % row.attributes
  "rowsep
                          %yesorno;
                                    #IMPLIED
               valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
   %tbl.row.att;
   %dita.row.attributes;" 
>
<!ENTITY % row.element
  "<!--                    LONG NAME: Row                             -->
<!ENTITY % row.content
              "%tbl.row.mdl;" 
>
<!ENTITY % row.attributes
              "rowsep
                          %yesorno;
                                    #IMPLIED
               valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
               %tbl.row.att;
               %dita.row.attributes;" 
>
<!ELEMENT  row %row.content;>
<!ATTLIST  row %row.attributes;>


" 
>
<!ENTITY % row.attlist
  "%row.attributes;" 
>
<!ENTITY % entry.content
  "%tbl.entry.mdl;" 
>
<!ENTITY % entry.attributes
  "colname
                          NMTOKEN
                                    #IMPLIED
               namest
                          NMTOKEN
                                    #IMPLIED
               nameend
                          NMTOKEN
                                    #IMPLIED
               morerows
                          NMTOKEN
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
               char
                          CDATA
                                    #IMPLIED
               charoff
                          NMTOKEN
                                    #IMPLIED
               valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
   %tbl.entry.att;
   %dita.entry.attributes;" 
>
<!ENTITY % entry.element
  "<!--                    LONG NAME: Entry                           -->
<!ENTITY % entry.content
              "%tbl.entry.mdl;" 
>
<!ENTITY % entry.attributes
              "colname
                          NMTOKEN
                                    #IMPLIED
               namest
                          NMTOKEN
                                    #IMPLIED
               nameend
                          NMTOKEN
                                    #IMPLIED
               morerows
                          NMTOKEN
                                    #IMPLIED
               colsep
                          %yesorno;
                                    #IMPLIED
               rowsep
                          %yesorno;
                                    #IMPLIED
               align
                          (left |
                           right |
                           center |
                           justify |
                           char |
                           -dita-use-conref-target)
                                    #IMPLIED
               char
                          CDATA
                                    #IMPLIED
               charoff
                          NMTOKEN
                                    #IMPLIED
               valign
                          (top |
                           middle |
                           bottom |
                           -dita-use-conref-target)
                                    #IMPLIED
               %tbl.entry.att;
               %dita.entry.attributes;" 
>
<!ELEMENT  entry %entry.content;>
<!ATTLIST  entry %entry.attributes;>


" 
>
<!ENTITY % entry.attlist
  "%entry.attributes;" 
>
<!ENTITY % table.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/table '
" 
>
<!ENTITY % tgroup.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/tgroup '
" 
>
<!ENTITY % colspec.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/colspec '
" 
>
<!ENTITY % thead.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/thead '
" 
>
<!ENTITY % tbody.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/tbody '
" 
>
<!ENTITY % row.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/row '
" 
>
<!ENTITY % entry.attlist
  "%global-atts;
               class
                          CDATA
                                    '- topic/entry '
" 
>

<!-- ================== tblDeclMod ==================== -->
 